<div class="message_show">
  <h2><%= @message.subject %></h2>

  <p><%= @message.sender_name %></p>
  <p><%= @message.from_email %></p>

  <p><%= @message.sent_date_time %></p>

  <p><%= @message.body %></p>

</div>
