<div id="messages_container">

  <div id="message">
    <h2><%= @message.subject %></h2>

    <p><%= @message.sender_name %> &lt;<%= @message.from_email %>&gt;</p>

    <p>Sent at: <%= @message.sent_date_time %></p>

    <% @message.body.split("\n").each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
  </div>

</div>
