<!-- <h2>All Contacts</h2>

<p><a href="/contacts/new">Add a Contact</a></p> -->

<table>
  <tr>
    <th><a href="#">Name <i class="fa fa-sort"></i></a></th>
    <th><a href="#">Email <i class="fa fa-sort"></i></a></th>
    <th></th>
    <th></th>
  </tr>
  <% @contacts.each do |contact| %>
  <tr onclick="document.location='/contacts/<%=contact.id %>';">
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td>
      <form action="/contacts/<%= contact.id %>/edit" method="get">
        <input type="submit" value="Edit">
      </form>
    <td>
      <form action="/contacts/<%=contact.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  <% end %>
</table>